/* 基础容器样式 */
.el-row {
  box-sizing: border-box;
}

.container {
  max-width: 1780px;
  padding: 0 90px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 60px;
  }
}

@media (max-width: 992px) {
  .container {
    padding: 0 30px;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0px;
  }
}

/* 
---------------------------------------------
品牌轮播
--------------------------------------------- 
*/
.brand-carousel h2 {
  color: #232323;
  text-align: center;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scroll {
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.scroll-track {
  display: flex;
  gap: 90px;
  width: max-content;
  animation: scroll-left 15s linear infinite;
  align-items: center;
  box-sizing: content-box;
  margin-bottom: 90px;
}

.logo {
  width: 120px;
  height: 48px;
  aspect-ratio: 5/2;
}

.logo:hover {
  filter: grayscale(0%);
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* 
---------------------------------------------
页脚
--------------------------------------------- 
*/
footer {
  width: 100%;
  height: 77px;
  flex-shrink: 0;
  background: #252641;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* 
---------------------------------------------
价值观
--------------------------------------------- 
*/
.values {
  margin-bottom: 200px;
}

.values .short-line {
  width: 80px;
  height: 1px;
  background: #525596;
  margin-bottom: 50px;
  border-radius: 2px;
}

.values .title .h3one {
  color: #2f327d;
  font-family: "Nunito Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.values .title .h3two {
  color: #f48c06;
  font-family: "Nunito Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.values .values-container h3 {
  color: #252641;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 180%;
}

.values .values-container p {
  color: #696984;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  max-width: 550px;
}

.values .values-container {
  max-width: 1500px;
  max-height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 130px;
}

.values .values-container:last-child {
  margin-bottom: 0px;
}

.values .values-container img,
.values .values-container video {
  max-width: 700px;
  max-height: 400px;
  flex-shrink: 0;
}

.values .values-container-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
  max-width: 600px;
  padding-left: 75px;
}

.values .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.values .title {
  display: flex;
  align-items: center;
  justify-content: left;
}

.values p {
  color: #696984;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  max-width: 1200px;
  margin-bottom: 80px;
}

.values .one {
  color: #f48c06;
  text-align: center;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.values .two {
  color: #2f327d;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.values .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 
---------------------------------------------
数据部分
--------------------------------------------- 
*/
.data {
  margin-bottom: 200px;
}

.data .data-container h3 {
  color: #252641;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 180%;
}

.data .data-container p {
  color: #696984;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
}

.data .data-container {
  max-width: 910px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 75px;
}

.data .data-container:last-child {
  margin-bottom: 0px;
}

.data img {
  max-width: 200px;
  max-height: 200px;
  margin-right: 65px;
}

.data .data-container-text {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  max-width: 643px;
}

.data .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.data p {
  color: #696984;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  max-width: 1200px;
  margin-bottom: 50px;
}

.data .one {
  color: #f48c06;
  text-align: center;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.data .two {
  color: #2f327d;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.data .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 
---------------------------------------------
解释部分
--------------------------------------------- 
*/
.explaination-container {
  max-width: 1920px;
  max-height: 11494px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  margin-bottom: 200px;
}

.explaination-text {
  display: flex;
  flex-direction: column;
  width: 720px;
}

.explaination-text .one {
  position: relative;
  z-index: 2;
  color: #2f327d;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: left;
}

.explaination-text .one a {
  position: relative;
  z-index: 2;
}

.explaination-text .one a::after {
  content: "";
  position: absolute;
  top: -15px;
  left: -35px;
  width: 73px;
  height: 73px;
  border-radius: 50%;
  background-color: #f4b767;
  z-index: -1;
}

.explaination-text .two {
  color: #f48c06;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 6 00;
  line-height: normal;
}

.explaination-container p {
  color: #777;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  text-align: left;
}

.explaination img {
  max-width: 700px;
  max-height: 700px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}

/* 
---------------------------------------------
我们的服务
--------------------------------------------- 
*/
.what-we-do {
  width: 100%;
  padding: 80px 0;
  background: white;
  text-align: center;
}

.what-we-do .header-text .container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.what-we-do .title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 110px;
}

.what-we-do h2 {
  color: #f48c06;
  font-family: Poppins;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.what-we-do h1 {
  color: #2f327d;
  text-align: center;
  font-family: Poppins;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.what-we-do .grid-item h1 {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 24px;
  min-height: auto;
}

.what-we-do p {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.what-we-do .grid-item {
  padding: 70px 50px;
  border-radius: 20px;
  color: #fff;
  background-size: cover;
  background-position: center;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* 背景图 */
.bg-img-1 {
  background-image: url("../images/wwdbg1.jpg");
}
.bg-img-2 {
  background-image: url("../images/wwdbg2.jpg");
}
.bg-img-3 {
  background-image: url("../images/wwdbg3.jpg");
}

/* 
---------------------------------------------
关于我们
--------------------------------------------- 
*/
.about-us {
  margin-top: 20px;
  margin-bottom: 200px;
}

.about-us .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-us .title {
  display: flex;
  margin-bottom: 20px;
}

.about-us .one,
.about-us .two,
.about-us .three {
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.about-us .one {
  color: #464646;
}
.about-us .two {
  color: #f48c06;
}
.about-us .three {
  color: #2f327d;
}

.about-us h3 {
  color: #696984;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.56px;
  max-width: 100%;
  margin-bottom: 25px;
  text-align: center;
}

.about-us p {
  max-width: 850px;
  margin-bottom: 25px;
  color: #777;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.about-us .service-card {
  position: relative;
  background: white;
  padding: 140px 30px 40px;
  text-align: center;
  overflow: visible;
  margin-top: 80px;
  border-radius: 20px;
  box-shadow: 0px 10px 60px 0px rgba(38, 45, 118, 0.08);
}

.about-us .service-card h3 {
  color: #2f327d;
  text-align: center;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 100%;
  min-height: 100px;
  margin-bottom: 20px;
}

.about-us .service-card p {
  color: #777;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  min-height: 150px;
  margin-bottom: 40px;
}

.about-us .card-media {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  z-index: 10;
}

.about-us .card-media video,
.about-us .card-media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.about-us .el-button.el-button--primary.enquire-btn {
  padding: 35px 25px;
  border: 0px;
  flex-shrink: 0;
  border-radius: 80px;
  background: #f48c06;
  color: #fff;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.about-us .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

/* 
---------------------------------------------
欢迎区域
--------------------------------------------- 
*/
.welcome-area {
  background-image: url("../images/bg1.png");
  display: flex;
  align-items: top;
  justify-content: flex-start;
  min-height: 1118px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: 50px;
}

.welcome-area .header-text {
  width: 100%;
}

.welcome-area .main-button-slider {
  color: #fff;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 80px;
  background: #f48c06;
  padding: 22px 45px;
  margin-top: 50px;
  display: inline-block;
  text-decoration: none;
}

.welcome-area .header-text .title {
  display: flex;
  max-width: 823px;
}

.welcome-area .header-text .one {
  color: #f48c06;
  font-family: Poppins;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 190px;
}

.welcome-area .header-text .two {
  color: #2f327d;
  font-family: Poppins;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 190px;
}

.welcome-area p {
  color: #464646;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin-top: 35px;
  max-width: 639px;
}

/* 
---------------------------------------------
导航栏
--------------------------------------------- 
*/
.custom-nav {
  background: #f48c06;
  padding: 8px 30px;
  box-sizing: border-box;
  width: 95%;
  max-width: 1780px;
  margin: 12px auto 0 auto;
  box-shadow: 0 2px 5px rgb(0 0 0 / 0.1);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}

.custom-nav .logo img {
  height: 60px;
  width: auto;
}

.custom-nav .menu-container {
  display: flex;
  align-items: center;
}

.menu-container {
  display: none;
}

.menu-container.open {
  display: block;
}

.custom-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 80px;
}

.custom-nav ul li {
  position: relative;
}

.custom-nav ul li a {
  color: white;
  text-decoration: none;
  padding: 6px 0;
  display: inline-block;
  cursor: pointer;
}

.custom-nav ul li a:hover,
.custom-nav ul li a.active {
  color: white;
}

.custom-nav ul li.language {
  position: relative;
}

.el-dropdown-link {
  color: white;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}

.el-dropdown-menu {
  color: #232323 !important;
  z-index: 3000 !important;
}

.el-dropdown-menu__item:hover {
  background: #eee !important;
  color: #232323 !important;
}

.custom-nav ul li .btn-apply {
  background-color: white;
  color: #333 !important;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 1.1rem;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.custom-nav ul li .btn-apply:hover {
  background-color: #e04a8c;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  background: #000;
  border-radius: 2px;
}

/* 
=============================================
响应式设计
=============================================
*/

/* 大屏幕调整 (1440px-1600px) */
@media (max-width: 1600px) {
  .about-us .el-button.el-button--primary.enquire-btn,
  .welcome-area .main-button-slider {
    font-size: 20px !important;
  }

  .welcome-area {
    min-height: 900px;
    background-position: 75% center;
  }

  .welcome-area .header-text .one,
  .welcome-area .header-text .two {
    font-size: 40px;
    margin-top: 150px;
  }

  .explaination-container {
    margin-bottom: 150px;
  }

  .values,
  .data,
  .about-us {
    margin-bottom: 150px;
  }

  .brand-carousel h2 {
    font-size: 25px;
    margin-bottom: 70px;
  }

  .what-we-do .grid-item h1,
  .service-card h3 {
    font-size: 25px !important;
    line-height: 1.8;
  }

  .scroll-track {
    gap: 70px;
    margin-bottom: 70px;
  }

  .explaination-container .one,
  .explaination-container .two {
    font-size: 30px;
    line-height: 1.8;
  }

  .explaination-container img,
  .explaination-container video {
    max-width: 500px;
  }

  .about-us .one,
  .about-us .two,
  .about-us .three,
  .data .one,
  .data .two,
  .values .title .one,
  .values .title .two,
  .values .values-container-text .h3one,
  .values .values-container-text .h3two,
  .what-we-do h1,
  .what-we-do h2 {
    font-size: 35px;
    line-height: 1.8;
  }

  .data p,
  .values p,
  .what-we-do .grid-item p,
  .service-card p,
  .about-us p,
  .data .data-container-text p,
  .explaination-container p,
  .welcome-area .header-text p,
  .values .values-container-text p {
    font-size: 20px;
    line-height: 1.8;
  }

  .data p {
    margin-bottom: 50px !important;
  }

  .values-container img,
  .values-container video {
    max-width: 45% !important;
  }

  .values-container-text {
    padding: 0px !important;
  }

  .what-we-do {
    padding: 40px 0;
  }

  .what-we-do .grid-item {
    padding: 60px 40px;
    min-height: 400px;
    margin-bottom: 20px;
  }

  .what-we-do .grid-item p {
    min-height: 150px;
    text-align: top;
  }

  .data .one {
    margin-bottom: 0px;
  }

  .data .data-container img {
    max-width: 150px;
  }
}

/* 中等屏幕调整 (1200px-1440px) */
@media (max-width: 1440px) {
  .custom-nav ul {
    gap: 50px;
  }

  .custom-nav li {
    font-size: 1rem !important;
    font-weight: 500 !important;
  }

  .custom-nav .logo img {
    height: 50px;
  }

  .custom-nav ul li .btn-apply {
    padding: 8px 25px;
    height: 40px;
    font-size: 1rem;
  }

  .el-dropdown-link {
    font-weight: bold;
  }

  .about-us .el-button.el-button--primary.enquire-btn,
  .welcome-area .main-button-slider {
    padding: 30px 20px;
    font-size: 20px !important;
  }

  .custom-nav ul {
    gap: 50px;
  }

  .welcome-area p {
    max-width: 450px;
  }

  .welcome-area .main-button-slider {
    padding: 20px 40px;
    font-size: 18px !important;
  }

  .about-us .container {
    padding: 20px;
  }

  .about-us .service-card {
    max-width: 1200px;
    padding: 120px 25px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-us .service-card h3 {
    min-height: 90px;
  }

  .about-us .service-card p {
    min-height: 130px;
  }

  .explaination-text {
    width: 600px;
  }

  .explaination img,
  .explaination video {
    max-width: 500px;
  }

  .values .values-container img,
  .values .values-container video {
    max-width: 50%;
  }

  .what-we-do .grid-item h1 {
    min-height: 84px;
  }

  .what-we-do .grid-item {
    padding: 50px 30px;
    min-height: 320px;
    margin-bottom: 20px;
  }

  .explaination img,
  .explaination video {
    max-width: 40%;
  }

  .data,
  .values {
    margin-bottom: 100px;
  }

  .explaination-container,
  .values .values-container {
    margin-bottom: 50px;
  }

  .welcome-area .header-text .one,
  .welcome-area .header-text .two,
  .about-us .service-card .one,
  .about-us .service-card .two,
  .about-us .service-card .three,
  .what-we-do h1,
  .what-we-do h2,
  .data .one,
  .data .two,
  .values .title .one,
  .values .title .two,
  .about-us .one,
  .about-us .two,
  .about-us .three {
    font-size: 35px !important;
    line-height: 1.8;
  }

  .about-us .service-card h3,
  .what-we-do .grid-item h1,
  .about-us h3,
  .explaination-container .one,
  .explaination-container .two,
  .values .values-container-text .h3one,
  .values .values-container-text .h3two {
    font-size: 25px !important;
  }

  .what-we-do .grid-item p,
  .about-us .service-card p,
  .data p,
  .data .data-container-text p,
  .explaination-container p,
  .values p,
  .values .values-container-text p,
  .about-us p,
  .brand-carousel h2,
  .welcome-area .header-text p {
    font-size: 18px !important;
    line-height: 1.8;
  }

  .footer {
    font-size: 13px;
  }

  .scroll-track img {
    max-height: 35px;
    width: auto;
  }
}

/* 小屏幕桌面/平板横向 (992px-1190px) */
@media (max-width: 1190px) {
  .about-us .el-button.el-button--primary.enquire-btn {
    padding: 35px 30px;
    font-size: 1rem !important;
  }

  .welcome-area .main-button-slider {
    padding: 18px 35px;
    font-size: 1rem !important;
    margin-top: 40px;
  }

  .welcome-area .header-text .one,
  .welcome-area .header-text .two {
    margin-top: 120px;
  }

  .welcome-area p {
    max-width: 500px;
  }

  .about-us {
    margin-top: 0px;
    margin-bottom: 50px;
  }

  .about-us .container {
    padding: 0px;
  }

  .about-us p {
    max-width: 950px;
  }

  .about-us .service-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 110px 50px 50px;
  }

  .about-us .service-card h3 {
    margin: 0px;
    max-height: 40px !important;
  }

  .about-us .service-card p {
    min-height: 80px;
  }

  .explaination-text {
    width: 500px;
  }

  .explaination-text .one,
  .explaination-text .two {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .explaination img,
  .explaination video {
    max-width: 400px;
  }

  .what-we-do .container {
    padding: 0px;
    margin: 0px;
  }

  .about-us .el-col-md-24.is-guttered,
  .el-col-md-24.is-guttered {
    padding: 0px 200px !important;
  }

  .what-we-do {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .what-we-do .grid-item h1 {
    max-height: 30px !important;
    margin: 0px;
  }

  .what-we-do .grid-item {
    padding: 70px;

    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .what-we-do .el-col-md-24.is-guttered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .what-we-do .title {
    margin-bottom: 30px;
  }

  .data p {
    margin-bottom: 50px;
  }

  .data .data-container {
    margin-bottom: 30px;
  }

  .values-container img,
  .values-container video {
    max-width: 45%;
  }

  .values-container-text {
    padding: 0px !important;
  }

  .logo {
    width: 100px;
    height: 40px;
  }

  .explaination-container,
  .values .values-container {
    margin-bottom: 50px;
  }

  .welcome-area {
    background-color: white;
    background-image: url("../images/bg4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;

    min-height: 700px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
  }

  .welcome-area .header-text .one,
  .welcome-area .header-text .two,
  .about-us .service-card .one,
  .about-us .service-card .two,
  .about-us .service-card .three,
  .what-we-do h1,
  .what-we-do h2,
  .data .one,
  .data .two,
  .values .title .one,
  .values .title .two,
  .about-us .one,
  .about-us .two,
  .about-us .three {
    font-size: 35px !important;
    line-height: 1.8;
  }

  .about-us .service-card h3,
  .what-we-do .grid-item h1,
  .about-us h3,
  .explaination-container .one,
  .explaination-container .two,
  .values .values-container-text .h3one,
  .values .values-container-text .h3two {
    font-size: 22px !important;
  }

  .what-we-do .grid-item p,
  .about-us .service-card p,
  .data p,
  .data .data-container-text p,
  .explaination-container p,
  .values p,
  .values .values-container-text p,
  .about-us p,
  .brand-carousel h2,
  .welcome-area .header-text p {
    font-size: 18px !important;
    line-height: 1.8;
  }

  .footer {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .scroll-track img {
    max-height: 35px;
    width: auto;
  }

  .scroll-track {
    gap: 60px;
    margin-bottom: 60px;
  }
}

/* 平板竖向 (768px-992px) */
@media (max-width: 992px) {
  .scroll {
    max-width: 992px;
  }

  .custom-nav {
    width: 90%;
    margin: 0 auto !important;
    padding: 8px 20px;
    top: 5px;
  }

  .custom-nav .logo img {
    height: 45px;
  }

  .hamburger {
    display: flex;
    width: 20px;
    height: 15px;
  }

  .hamburger span {
    height: 2px;
    background: white;
    color: white;
    transition: all 0.3s ease;
  }

  /* 汉堡菜单样式 */
  .menu-container {
    position: fixed;
    top: 70px;
    left: 5%;
    width: 90%;
    color: white;
    background: rgba(244, 140, 6, 0.95);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .menu-container.open {
    max-height: 400px;
    padding: 30px 0;
    color: white;
    animation: slideInFromTop 0.4s ease-out;
  }

  .menu-container ul {
    flex-direction: column;
    gap: 0;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menu-container ul li {
    width: 100%;
    color: white;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transform: translateY(-20px);
    opacity: 0;
    animation: fadeInUp 0.3s ease-out forwards;
  }

  .menu-container ul li:nth-child(1) {
    animation-delay: 0.1s;
  }
  .menu-container ul li:nth-child(2) {
    animation-delay: 0.2s;
  }
  .menu-container ul li:nth-child(3) {
    animation-delay: 0.3s;
  }
  .menu-container ul li:nth-child(4) {
    animation-delay: 0.4s;
  }

  .menu-container ul li a {
    padding: 20px;
    display: block;
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
  }

  .menu-container ul li a:hover {
    background: rgba(255, 255, 255, 0.1);
    transform: translateX(10px);
  }

  .menu-container ul li a::before {
    content: "";
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.2),
      transparent
    );
    transition: left 0.5s;
  }

  .menu-container ul li a:hover::before {
    left: 100%;
  }

  .custom-nav ul {
    flex-direction: column;
    gap: 0;
  }

  .custom-nav ul li {
    width: 100%;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

  .custom-nav ul li a {
    padding: 15px 20px;
    display: block;
    color: white;
    font-size: 1.1rem;
  }

  /* 动画关键帧 */
  @keyframes slideInFromTop {
    0% {
      transform: translateY(-20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes fadeInUp {
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .custom-nav ul li .btn-apply {
    display: inline-block;
    margin: 15px auto;
    width: 80%;
    background: white;
    color: #333 !important;
  }

  /* 语言下拉菜单调整 */
  .el-dropdown {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .el-dropdown-link {
    padding: 15px 20px;
    display: block;
    font-size: 1.1rem;
  }

  .el-dropdown-menu {
    position: static !important;
    transform: none !important;
    width: 100% !important;
    margin-top: 0 !important;
    border: none !important;
    box-shadow: none !important;
  }

  .el-dropdown-menu__item {
    padding: 12px 20px !important;
    text-align: center !important;
  }

  .about-us .el-button.el-button--primary.enquire-btn {
    padding: 25px 20px;
    font-size: 15px !important;
  }

  .welcome-area .main-button-slider {
    padding: 16px 30px;
    font-size: 15px !important;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .container {
    padding: 0 30px;
  }

  .welcome-area {
    background-color: white;
    background-image: url("../images/bg2.png");
    background-repeat: no-repeat;
    background-size: cover; /* 或 contain，根据需求 */
    background-position: center bottom;

    min-height: 600px !important;
    height: auto; /* 确保高度由内容决定 */
    display: flex;
    flex-direction: column;
  }

  .welcome-area .header-text .one,
  .welcome-area .header-text .two {
    margin-top: 100px;
  }

  .welcome-area p {
    max-width: 400px;
  }

  .about-us {
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 50px;
  }

  .about-us .service-card {
    width: 100%;
    padding: 100px 40px 40px;
  }

  .about-us .service-card h3 {
    margin: 0px;
  }

  .about-us .service-card p {
    max-height: 100px !important;
  }

  .what-we-do .title {
    margin-bottom: 30px !important;
  }

  .what-we-do .grid-item h1 {
    min-height: 72px;
    margin-bottom: 20px;
  }

  .what-we-do .grid-item p {
    min-height: 72px;
    margin-bottom: 20px;
  }

  /* 解释部分改为垂直布局 */
  .explaination-container {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .explaination-container:nth-child(even) {
    flex-direction: column;
  }

  .explaination-text {
    width: 100%;
    margin-top: 20px;
  }

  .explaination-text .one,
  .explaination-text .two {
    margin-bottom: 20px;
  }

  .explaination img,
  .explaination video {
    max-width: 45%;
    order: -1;
  }

  /* 数据部分改为垂直布局 */
  .data .data-container {
    margin-top: 0px;
    margin-bottom: 10px;
    flex-direction: column;
    text-align: center;
  }

  .data .data-container p {
    margin-bottom: 20px;
  }

  .data img {
    width: 100px;
    margin: 0 0 30px 0;
  }

  .data p {
    margin-bottom: 0px;
  }

  .data {
    margin-top: 40px;
    margin-bottom: 45px;
  }

  .values p {
    margin-bottom: 45px;
  }

  .values .values-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    max-height: none;
    margin-bottom: 30px;
  }

  .values .values-container img,
  .values .values-container video {
    margin: 0 0 30px 0 !important;
    max-width: 50%;
    height: auto;
  }

  .values .values-container-small {
    padding: 0 !important;
    width: 100%;
  }

  .values .values-container-text {
    padding: 0 !important;
  }

  .values .short-line {
    margin: 0 0 20px 0 !important;
  }

  .values {
    margin-bottom: 50px;
  }

  .brand-carousel h2 {
    margin-bottom: 50px;
  }

  .scroll-track {
    gap: 50px;
    margin-bottom: 50px;
  }

  .logo {
    width: 90px;
    height: 36px;
  }

  .welcome-area .header-text .one,
  .welcome-area .header-text .two,
  .about-us .service-card .one,
  .about-us .service-card .two,
  .about-us .service-card .three,
  .what-we-do h1,
  .what-we-do h2,
  .data .one,
  .data .two,
  .values .title .one,
  .values .title .two,
  .about-us .one,
  .about-us .two,
  .about-us .three {
    font-size: 32px !important;
    line-height: 1.8;
  }

  .about-us .service-card h3,
  .what-we-do .grid-item h1,
  .about-us h3,
  .explaination-container .one,
  .explaination-container .two,
  .values .values-container-text .h3one,
  .values .values-container-text .h3two,
  .data .data-container h3 {
    font-size: 20px !important;
  }

  .what-we-do .grid-item p,
  .about-us .service-card p,
  .data p,
  .data .data-container-text p,
  .explaination-container p,
  .values p,
  .values .values-container-text p,
  .about-us p,
  .brand-carousel h2,
  .welcome-area .header-text p {
    font-size: 15px !important;
    line-height: 1.8;
  }

  .footer {
    height: 65px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .scroll-track img {
    max-height: 35px;
    width: auto;
  }

  .scroll-track {
    gap: 60px;
    margin-bottom: 60px;
  }

  .about-us .el-col-md-24.is-guttered {
    padding: 0px 120px !important;
  }

  .what-we-do {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .what-we-do .container {
    padding: 0px;
    margin: 0px;
  }

  .what-we-do .grid-item {
    padding: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .el-col-md-24.is-guttered {
    padding: 0px 120px !important;
  }
}

/* 大屏手机 (576px-768px) */
@media (max-width: 768px) {
  .scroll {
    max-width: 768px;
  }

  .custom-nav {
    width: 90%;
    margin: 0 auto !important;
    padding: 8px 20px;
    top: 5px;
    height: 50px;
  }

  .custom-nav .logo img {
    height: 40px;
  }
  .hamburger {
    display: flex;
    width: 20px;
    height: 15px;
  }

  .hamburger span {
    height: 2px;
    background: white;
    transition: all 0.3s ease;
  }

  /* 汉堡菜单动画效果 */
  .hamburger.active span:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }

  /* 菜单容器 */
  .menu-container {
    position: fixed;
    top: 70px;
    left: 5%;
    width: 90%;
    background: #f48c06;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
  }

  .menu-container.open {
    max-height: 500px;
    padding: 20px 0;
  }

  .custom-nav ul {
    flex-direction: column;
    gap: 0;
  }

  .custom-nav ul li {
    width: 100%;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

  .custom-nav ul li a {
    padding: 15px 20px;
    display: block;
    color: white;
    font-size: 1.1rem;
  }

  /* 动画关键帧 */
  @keyframes slideInFromTop {
    0% {
      transform: translateY(-20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes fadeInUp {
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .custom-nav ul li .btn-apply {
    display: inline-block;
    margin: 15px auto;
    width: 80%;
    background: white;
    color: #333 !important;
  }

  /* 语言下拉菜单调整 */
  .el-dropdown {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .el-dropdown-link {
    padding: 15px 20px;
    display: block;
    font-size: 1.1rem;
  }

  .el-dropdown-menu {
    position: static !important;
    transform: none !important;
    width: 100% !important;
    margin-top: 0 !important;
    border: none !important;
    box-shadow: none !important;
  }

  .el-dropdown-menu__item {
    padding: 12px 20px !important;
    text-align: center !important;
  }

  .about-us .el-button.el-button--primary.enquire-btn {
    padding: 25px 20px;
    font-size: 15px !important;
  }

  .welcome-area .main-button-slider {
    padding: 10px 20px;
    font-size: 15px !important;
    margin-top: 30px;
    margin-bottom: 100px;
  }

  .container {
    padding: 0 30px;
  }

  .welcome-area {
    background-color: white;
    background-image: url("../images/bg3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;

    min-height: auto;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .welcome-area .header-text {
    max-height: 400px !important;
  }

  .welcome-area .header-text .one,
  .welcome-area .header-text .two {
    margin-top: 100px;
  }

  .welcome-area p {
    max-width: 350px;
  }

  .about-us {
    margin-bottom: 50px;
  }

  .about-us .header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-us .el-row {
    margin-top: 0px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-us .container {
    padding: 0px;
    margin: 0px;
  }

  .about-us p {
    margin-bottom: 0px;
  }

  .about-us .service-card {
    width: 100%;
    margin-top: 100px;
    padding: 80px 30px 30px;
  }

  .about-us .service-card h3 {
    height: 30px;
    margin: 0px;
    padding-top: 20px;
  }

  .about-us .service-card p {
    line-height: 1.8;
  }

  .about-us .card-media video,
  .about-us .card-media img {
    width: 100px;
    height: 100px;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .what-we-do {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 50px;
  }

  .what-we-do .title {
    margin-bottom: 30px !important;
  }

  .what-we-do .grid-item h1 {
    min-height: 30px;
    margin-bottom: 20px;
  }

  .what-we-do .grid-item p {
    min-height: 50px;
    margin-bottom: 0px;
  }

  .explaination {
    margin-bottom: 70px;
  }

  .explaination-container {
    flex-direction: column;
    margin-bottom: 30px;
    padding: 0px;
  }

  .explaination-container:nth-child(even) {
    flex-direction: column;
  }

  .explaination-text {
    width: 100%;
    margin-top: 20px;
  }

  .explaination-text .one,
  .explaination-text .two {
    margin-bottom: 20px;
  }

  .explaination-text p {
    margin-bottom: 0px;
  }

  .explaination-text .one a::after {
    content: "";
    position: absolute;
    top: -15px;
    left: -35px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f4b767;
    z-index: -1;
  }

  .explaination img,
  .explaination video {
    max-width: 50%;
    order: -1;
  }

  /* 数据部分改为垂直布局 */
  .data .data-container {
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    text-align: center;
  }

  .data img {
    width: 100px;
    margin: 0 0 30px 0;
  }

  .data {
    margin-bottom: 70px;
  }

  .data .header {
    margin-bottom: 30px;
  }

  .data p {
    margin-bottom: 0px !important;
  }

  .values .values-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    max-height: none;
    margin-bottom: 25px;
  }

  .values p {
    margin-bottom: 70px;
  }

  .values .values-container img,
  .values .values-container video {
    margin: 0 0 30px 0 !important;
    max-width: 50%;
    height: auto;
  }

  .values .values-container-small {
    padding: 0 !important;
    width: 100%;
  }

  .values .values-container-text {
    padding: 0 !important;
  }

  .values .short-line {
    margin: 0 0 20px 0 !important;
  }

  .values {
    margin-bottom: 50px;
  }

  .brand-carousel h2 {
    margin-bottom: 30px;
  }

  .logo {
    width: 70px;
    height: 100%;
  }

  .welcome-area .header-text .one,
  .welcome-area .header-text .two,
  .about-us .service-card .one,
  .about-us .service-card .two,
  .about-us .service-card .three,
  .what-we-do h1,
  .what-we-do h2,
  .data .one,
  .data .two,
  .values .title .one,
  .values .title .two,
  .about-us .one,
  .about-us .two,
  .about-us .three {
    font-size: 25px !important;
    line-height: 1.8;
  }

  .about-us .service-card h3,
  .what-we-do .grid-item h1,
  .about-us h3,
  .explaination-container .one,
  .explaination-container .two,
  .values .values-container-text .h3one,
  .values .values-container-text .h3two,
  .data .data-container h3 {
    font-size: 18px !important;
  }

  .what-we-do .grid-item p,
  .about-us .service-card p,
  .data p,
  .data .data-container-text p,
  .explaination-container p,
  .values p,
  .values .values-container-text p,
  .about-us p,
  .brand-carousel h2,
  .welcome-area .header-text p {
    font-size: 14px !important;
    line-height: 1.8;
  }

  .footer {
    height: 65px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .scroll-track img {
    max-height: 30px;
    width: auto;
  }

  .scroll-track {
    gap: 50px;
    margin-bottom: 40px;
  }

  .about-us .el-col-md-24.is-guttered {
    padding: 0px 70px !important;
  }

  .what-we-do {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .what-we-do .container {
    padding: 0px;
    margin: 0px;
  }

  .what-we-do .grid-item {
    padding: 20px;
    margin-bottom: 20px;
    min-height: 280px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .el-col-md-24.is-guttered {
    padding: 0px 85px !important;
  }
}

/* 小屏手机 (520px 以下) */
@media (max-width: 520px) {
  .scroll {
    max-width: 520px;
  }

  .custom-nav {
    width: 90%;
    margin: 0 auto !important;
    padding: 3px 20px;
    top: 5px;
    height: 30px;
  }

  .custom-nav .logo img {
    height: 30px;
  }
  .hamburger {
    display: flex;
    width: 20px;
    height: 15px;
  }

  .hamburger span {
    height: 2px;
    background: white;
    transition: all 0.3s ease;
  }

  /* 汉堡菜单动画效果 */
  .hamburger.active span:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }

  /* 菜单容器 */
  .menu-container {
    position: fixed;
    top: 70px;
    left: 5%;
    width: 90%;
    background: #f48c06;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
  }

  .menu-container.open {
    max-height: 500px;
    padding: 20px 0;
  }

  .custom-nav ul {
    flex-direction: column;
    gap: 0;
  }

  .custom-nav ul li {
    width: 100%;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

  .custom-nav ul li a {
    padding: 15px 20px;
    display: block;
    color: white;
    font-size: 1.1rem;
  }

  /* 动画关键帧 */
  @keyframes slideInFromTop {
    0% {
      transform: translateY(-20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes fadeInUp {
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .custom-nav ul li .btn-apply {
    display: inline-block;
    margin: 15px auto;
    width: 80%;
    background: white;
    color: #333 !important;
  }

  /* 语言下拉菜单调整 */
  .el-dropdown {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .el-dropdown-link {
    padding: 15px 20px;
    display: block;
    font-size: 1.1rem;
  }

  .el-dropdown-menu {
    position: static !important;
    transform: none !important;
    width: 100% !important;
    margin-top: 0 !important;
    border: none !important;
    box-shadow: none !important;
  }

  .el-dropdown-menu__item {
    padding: 12px 20px !important;
    text-align: center !important;
  }

  .about-us .el-button.el-button--primary.enquire-btn {
    padding: 20px 15px;
    font-size: 12px !important;
  }

  .welcome-area .main-button-slider {
    padding: 8px 15px;
    font-size: 12px !important;
    margin-top: 30px;
    margin-bottom: 100px;
  }

  .container {
    padding: 0 30px;
  }

  .welcome-area {
    background-color: white;
    background-image: url("../images/bg3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;

    min-height: auto;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .welcome-area .header-text {
    max-height: 400px !important;
  }

  .welcome-area .header-text .one,
  .welcome-area .header-text .two {
    margin-top: 100px;
  }

  .welcome-area p {
    max-width: 350px;
  }

  .about-us {
    margin-top: 0px;
    margin-bottom: 50px;
    padding: 10px;
  }

  .about-us .header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-us .el-row {
    margin-top: 0px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-us .container {
    padding: 0px;
    margin: 0px;
  }

  .about-us p {
    margin-bottom: 0px;
  }

  .about-us .service-card {
    width: 100%;
    height: 60%;
    margin-top: 100px;
    padding: 30px 30px 30px;
    gap: 0px;
  }

  .about-us .service-card h3 {
    max-height: 30px !important;
    padding-top: 60px;
    margin: 0;
    margin-bottom: 20px;
  }

  .about-us .service-card p {
    line-height: 1.8;
  }

  .about-us .card-media video,
  .about-us .card-media img {
    width: 100px;
    height: 100px;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .what-we-do .title {
    margin-bottom: 0px !important;
  }

  .what-we-do .grid-item h1 {
    min-height: 20px;
    margin-bottom: 20px;
  }

  .what-we-do .grid-item p {
    min-height: 40px;
    margin-bottom: 0px;
  }

  .explaination {
    margin-bottom: 50px;
  }

  .explaination-container {
    flex-direction: column;
    margin-bottom: 30px;
    padding: 0px;
  }

  .explaination-container:nth-child(even) {
    flex-direction: column;
  }

  .explaination-text {
    width: 100%;
    margin-top: 20px;
  }

  .explaination-text .one,
  .explaination-text .two {
    margin-bottom: 20px;
  }

  .explaination-text p {
    margin-bottom: 0px;
  }

  .explaination-text .one a::after {
    content: "";
    position: absolute;
    top: -15px;
    left: -35px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f4b767;
    z-index: -1;
  }

  .explaination img,
  .explaination video {
    max-width: 50%;
    order: -1;
  }

  /* 数据部分改为垂直布局 */
  .data .data-container {
    margin-top: 20px;
    flex-direction: column;
    text-align: center;
  }

  .data img {
    width: 80px;
    margin: 0 0 30px 0;
  }

  .data {
    margin-bottom: 50px;
  }

  .data .header {
    margin-bottom: 30px;
  }

  .data p {
    margin-bottom: 0px !important;
  }

  .values .values-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    max-height: none;
  }

  .values .values-container img,
  .values .values-container video {
    margin: 0 0 30px 0 !important;
    max-width: 50%;
    height: auto;
    padding: 15px !important;
  }

  .values .values-container-text p {
    margin-bottom: 15px;
  }

  .values p {
    margin-bottom: 30px;
  }

  .values .values-container-text {
    padding: 0 !important;
  }

  .values .short-line {
    margin: 0 0 20px 0 !important;
  }

  .values {
    padding: 0px;
    margin-bottom: 50px;
  }

  .values .container {
    padding: 0px 10px !important;
  }

  .brand-carousel h2 {
    margin-bottom: 30px;
  }

  .welcome-area .header-text .one,
  .welcome-area .header-text .two,
  .about-us .service-card .one,
  .about-us .service-card .two,
  .about-us .service-card .three,
  .what-we-do h1,
  .what-we-do h2,
  .data .one,
  .data .two,
  .values .title .one,
  .values .title .two,
  .about-us .one,
  .about-us .two,
  .about-us .three {
    font-size: 18px !important;
    line-height: 1.8;
  }

  .about-us .service-card h3,
  .what-we-do .grid-item h1,
  .about-us h3,
  .explaination-container .one,
  .explaination-container .two,
  .values .values-container-text .h3one,
  .values .values-container-text .h3two,
  .data .data-container h3 {
    font-size: 15px !important;
  }

  .what-we-do .grid-item p,
  .about-us .service-card p,
  .data p,
  .data .data-container-text p,
  .explaination-container p,
  .values p,
  .values .values-container-text p,
  .about-us p,
  .brand-carousel h2,
  .welcome-area .header-text p {
    font-size: 12px !important;
    line-height: 1.8;
  }

  footer {
    height: 30px;
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: bottom;
  }

  .scroll-track img {
    max-height: 20px !important;
    width: auto;
  }

  .scroll-track {
    gap: 50px;
    margin-bottom: 40px;
  }

  .about-us .el-col-md-24.is-guttered {
    padding: 0px 25px !important;
  }

  .what-we-do {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .what-we-do .container {
    padding: 0px;
    margin: 0px;
  }

  .what-we-do .grid-item {
    min-height: 200px !important;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
  }

  .el-col-md-24.is-guttered {
    padding: 20px 35px 0px !important;
  }
}
